$blue: #052f45;
$green: #4e7d47;
$green-700: #2a3f28;
$black: #132112;

$fern-green-50: #f4f9f4;
$fern-green-100: #e8f2e6;
$fern-green-200: #d1e4ce;
$fern-green-300: #adcda8;
$fern-green-400: #80af79;
$fern-green-500: #5d9156;
$fern-green-600: #4e7d47;
$fern-green-700: #3b5e37;
$fern-green-800: #324c2f;
$fern-green-900: #2a3f28;
$fern-green-950: #132112;
