$black: #132112;
$blue: #052f45;
$green: #4e7d47;
$green-100: #e8f2e6;
$green-200: #d1e4ce;
$green-300: #adcda8;
$green-400: #80af79;
$green-500: #5d9156;
$green-600: #4e7d47;
$green-700: #3b5e37;
$green-800: #324c2f;
$green-900: #2a3f28;